<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Agro.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/menu/menustyle.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/static/menu/font-awesome/css/font-awesome.css">	
    <script src="/static/menu/js/jquery.min.js"" type="text/javascript" ></script>
    <script src="/static/menu/js/menu.js" type="text/javascript"></script> 
</head>
  
<body>
 
 <div class="mainWrap">
 <a id="touch-menu" class="mobile-menu" href="#"><i class="icon-reorder"></i>Menu</a>	
   <nav>
   <ul class="menu">
   <li><a href="#"><i class="icon-home"></i>INICIO</a>
   <li><a href="#"><i class="icon-camera"></i>MONITOREO</a>
   <ul class="sub-menu">
   <li><a href="/summary_index/">Resumen</a></li>
   <li><a href="/area1/">Area 1</a></li>
   <li><a href="/area1/">Area 2</a></li>
   <li><a href="/area1/">Area 3</a></li>
   <li><a href="/area1/">Area 4</a>	</li>
   <li><a href="/weather_index/">Climático</a></li>
   </ul>
   </li>
   <li><a  href="#"><i class="icon-user"></i>CONTROL</a>
   <ul class="sub-menu">
	<li><a href="/control_area1/">Area 1</a></li>
	<li><a href="/control_area2/">Area 2</a></li>
	<li><a href="/control_area3/">Area 3</a></li>
	<li><a href="/control_area4/">Area 4</a></li>
   </ul>
   </li>
   <li><a  href="#"><i class="icon-reorder"></i>GRÁFICAS</a>
   <ul class="sub-menu">
	<li><a href="/graphics_index/">Resumen</a></li>
	<li><a href="/graphics_area1/">Area 1</a></li>
	<li><a href="/graphics_area2/">Area 2</a></li>
	<li><a href="/graphics_area3/">Area 3</a></li>
	<li><a href="/graphics_area4/">Area 4</a>	</li>
	<li><a href="/graphics_weather/">Climático</a></li>
   </ul>
   </li>
   <li><a  href="#"><i class="icon-bullseye"></i>DATOS</a>
   <ul class="sub-menu">
	<li><a href="/data1/">Area 1</a></li>
	<li><a href="/data1/">Area 2</a></li>
	<li><a href="/data2/">Area 3</a></li>
	<li><a href="/data3/">Area 4</a>	</li>
   </ul>
   </li>
   <li><a  href="#"><i class="icon-check"></i>ACERCA</a></li>
  </nav>
 </div><!--end mainWrap-->
 
</body>
</html>
