<!DOCTYPE html>
<html>
<head>
	<title>Agro.io</title>

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<!-- Include scripts -->
	<script type="text/javascript" src="/static/menu2/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/menu2/js/responsivemultimenu.js"></script>

	<!-- Include styles -->
	<link rel="stylesheet" href="/static/menu2/css/responsivemultimenu.css" type="text/css"/>

	<!-- Include media queries -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
</head>
<body style="background: #2C2B2C;">
	<div>
		<div class="rmm style">
			<ul>
				<li><a href="/index3/">Inicio</a></li>
				<li><a>Monitoreo</a>
					<ul>
						<li><a href="/summary_index/">Resumen</a></li>
						<li><a href="/area1/">Area 1</a></li>
						<li><a href="/area1/">Area 2</a></li>
						<li><a href="/area1/">Area 3</a></li>
						<li><a href="/area1/">Area 4</a>	</li>
						<li><a href="/weather_index/">Climático</a></li>
					</ul>
				</li>
				<li><a>Control</a>
					<ul>
						<li><a href="/control_area1/">Area 1</a></li>
						<li><a href="/control_area2/">Area 2</a></li>
						<li><a href="/control_area3/">Area 3</a></li>
						<li><a href="/control_area4/">Area 4</a></li>
					</ul>
				</li>
				<li><a>Gráficas</a>
					<ul>
						<li><a href="/graphics_index/">Resumen</a></li>
						<li><a href="/graphics_area1/">Area 1</a></li>
						<li><a href="/graphics_area2/">Area 2</a></li>
						<li><a href="/graphics_area3/">Area 3</a></li>
						<li><a href="/graphics_area4/">Area 4</a>	</li>
						<li><a href="/graphics_weather/">Climático</a></li>
					</ul>
				</li>
				<li><a href="Gráficas">Datos</a>
					<ul>
						<li><a href="/data1/">Area 1</a></li>
						<li><a href="/data1/">Area 2</a></li>
						<li><a href="/data2/">Area 3</a></li>
						<li><a href="/data3/">Area 4</a>	</li>
					</ul>
				</li>
				<li><a href="/about/">Acerca</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
