<!DOCTYPE html>
<html>
<head>
	<title>Agro.io</title>

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<!-- Include scripts -->
	<script type="text/javascript" src="/static/menu2/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/menu2/js/responsivemultimenu.js"></script>

	<!-- Include styles -->
	<link rel="stylesheet" href="/static/menu2/css/responsivemultimenu.css" type="text/css"/>
    <link rel="stylesheet" href="/static/menu2/font-awesome/css/font-awesome.css">	

	<!-- Include media queries -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
</head>
<body style="background-color: black;" >
	<div>
	<div class="rmm style">
	<ul>
	<li><a href="#"><i class="icon-home"></i>Inicio</a></li>
	<li><a href="#"><i class="icon-camera"></i>Monitoreo</a>
		<ul>
		<li><a href="/summary_index/">Resumen</a></li>
		<li><a href="/area1/">Area 1</a></li>
		<li><a href="/area2/">Area 2</a></li>
		<li><a href="/area3/">Area 3</a></li>
		<li><a href="/area4/">Area 4</a>	</li>
		<li><a href="/weather_index/">Climático</a></li>
		</ul>
	</li>
	<li><a href="#"><i class="icon-user"></i>Control</a>
		<ul>
		<li><a href="/control_area1/">Area 1</a></li>
		<li><a href="/control_area2/">Area 2</a></li>
		<li><a href="/control_area3/">Area 3</a></li>
		<li><a href="/control_area4/">Area 4</a></li>
		</ul>
	</li>
	<li><a href="#"><i class="icon-reorder"></i>Gráficas</a>
		<ul>
		<li><a href="/graphics_index/">Resumen</a></li>
		<li><a href="/graphics_area1/">Area 1</a></li>
		<li><a href="/graphics_area2/">Area 2</a></li>
		<li><a href="/graphics_area3/">Area 3</a></li>
		<li><a href="/graphics_area4/">Area 4</a>	</li>
		<li><a href="/graphics_weather/">Climática</a></li>
		</ul>
	</li>
	<li><a href="#"><i class="icon-check"></i>Datos </a>
		<ul>
		<li><a href="/data1/">Area 1</a></li>
		<li><a href="/data1/">Area 2</a></li>
		<li><a href="/data2/">Area 3</a></li>
		<li><a href="/data3/">Area 4</a></li>
		</ul>
	</li>
	</div>
	</div>
</body>
</html>
